/* Navbar Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #f8fafc;
}

header {
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 10px 60px;
    background-color: #0f172a;
}

header ul {
    display: flex;
    gap: 50px;
}

header .logo {
    font-size: 30px;
    color: #e2e8f0;
    font-weight: 600;
    cursor: pointer;
}

header .logo span {
    color: #38bdf8;
    font-size: 50px;
}

header ul li a {
    color: #e2e8f0;
    transition: .3s;
    font-weight: 500;
}

header ul li a:hover {
    color: #38bdf8;
}

header ul li .active {
    color: #38bdf8;
}

/* Home Section */
.home-section {
    width: 100%;
    display: flex;
    margin-top: 150px;
}

.home-section .home-img,
.home-content {
    width: 50%;
}

.home-section .home-img img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-left: 25px;
}

.home-section .home-content {
    margin-left: 70px;
    margin-top: 100px;
}

.home-section .home-content p {
    font-size: 15px;
    color: #64748b;
}

.home-section .home-content span {
    font-size: 35px;
    color: #0f172a;
    font-weight: 600;
}

.home-section .home-content ul {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.home-section .home-content ul li {
    border: 2px solid #38bdf8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-section .home-content ul li i {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #0f172a;
    margin-top: 20px;
}

.home-section .home-content ul li:hover {
    background-color: #38bdf8;
    transform: scale(1.1);
}

.home-section .home-content button {
    margin-top: 20px;
    padding: 20px;
    background-color: #0f172a;
    border-radius: 30px;
    color: #f8fafc;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.home-section .home-content button:hover {
    background-color: #1e293b;
    transform: scale(1.1);
}

.home-section .home-content button a {
    color: #f8fafc;
    font-size: 15px;
}

@media (max-width:837px) {
    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-section .home-img img {
        width: 300px;
        height: 300px;
    }

    .home-section .home-content {
        margin-left: 35px;
        margin-top: 100px;
    }

    .home-section .home-content span {
        font-size: 30px;
        color: #0f172a;
        font-weight: 600;
    }

    .home-section .home-content button {
        margin-top: 15px;
        padding: 15px;
        background-color: #0f172a;
        border-radius: 30px;
        color: #f8fafc;
        transition: background 0.3s ease, transform 0.3s ease;
        cursor: pointer;
    }
}

@media (max-width:671px) {
    .home-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .home-section .home-img img {
        width: 200px;
        height: 200px;
        margin-left: 0px;
    }

    .home-section .home-content span {
        font-size: 20px;
        color: #0f172a;
        font-weight: 600;
    }

    .home-section .home-content {
        margin-left: 70px;
        margin-top: 50px;
    }

    header ul li {
        display: none;
    }

    .home-section .home-content {
        margin-left: 5px;
        margin-top: 50px;
    }

    .home-section .home-content ul {
        display: flex;
        margin-top: 20px;
        gap: 20px;
    }

    .home-section .home-content ul li {
        border: 2px solid #38bdf8;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .home-section .home-content ul li i {
        width: 25px;
        height: 25px;
        font-size: 15px;
        color: #0f172a;
        margin-top: 10px;
    }

    .home-section .home-content button {
        margin-top: 15px;
        padding: 10px;
        cursor: pointer;
    }

    .home-section .home-content button a {
        color: #f8fafc;
        font-size: 10px;
    }
}

/* AboutMe section */
.aboutme-section {
    width: 100%;
    margin-top: 60px;
    background-color: #f1f5f9;
    padding: 20px;
    text-align: center;
    color: #0f172a;
}

.aboutme-section h1 {
    font-size: 36px;
    color: #0f172a;
    margin-bottom: 20px;
}

.aboutme-section p {
    font-size: 16px;
    color: #64748b;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

/* Skills Section */
.skill-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.skill-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.skill-section .skills-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-section .skill-card {
    background-color: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.skill-section .skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skill-card i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #007bff;
}

.skill-card h3 {
    margin-bottom: 10px;
}

.skill-card p {
    color: #555;
}

/* project Section */
.project-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.project-section a {
    color: #1e293b;
    text-decoration: underline;
    padding-top: 50px;
    display: inline-block;
}

.project-section a:hover {
    color: #38bdf8;
}

.project-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.project-card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .4s;
    text-align: center;
    padding: 15px;
}

.project-card:hover .project-content {
    opacity: 1;
}

.project-content h3 {
    margin-bottom: 10px;
}

.project-content p {
    font-size: 10px;
    margin-bottom: 15px;
}

.project-buttons a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 5px;
    transition: .3s;
}

.project-buttons a:hover {
    background: white;
    color: black;
}

/* Contact Section */
.contact-section {
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-section p {
    color: #555;
    margin-bottom: 30px;
    font-size: 16px;
}

.contact-section .contact-links ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    gap: 30px;
}

.contact-section .contact-links ul li {
    border: 2px solid #38bdf8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-section .contact-links ul li i {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #0f172a;
    margin-top: 20px;
}

.contact-section .contact-links ul li:hover {
    background-color: #38bdf8;
    transform: scale(1.1);
}

/*Footer Section */
.footer-section {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.footer-section p {
    color: #ccc;
    margin-bottom: 15px;
}

.footer-section .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}